@media (min-width: 576px) {
  .our-creative-team {
    z-index: -1;
    left: 50px;
    bottom: 30px;
  }
  .need-icon {
    min-width: 90px !important;
    min-height: 90px !important;
    max-width: 90px;
    max-height: 90px;
  }
  .internet-img {
    max-width: 400px;
  }
}
@media (min-width: 700px) {
  .stats-section {
    .brdr {
      border: #828282 1px solid !important;
      border-radius: 1px;
    }
  }
}
@media (min-width: 768px) {
  .our-creative-team {
    z-index: -1;
    left: 0px;
    bottom: 15px;
  }
  .hero-section-h1 {
    font-weight: bold;
    font-size: 60px;
  }
  .optimise-card-top {
    img {
      width: 70px !important;
      height: 80px !important;
    }
    h5 {
      font-size: 16px;
    }
  }
  .choose-img {
    width: 172px;
    height: 130px;
  }
  .optimization-card-heading {
    font-size: 18px;
  }
  .optimization-card-body {
    font-size: 15px;
  }
  // .choose-img {
  //   width: 100%;
  //   height: 170px;
  // }
  .need-hero-img {
    width: 70%;
    height: auto;
    margin-left: 10%;
  }
}

@media (min-width: 992px) {
  .hero-btn {
    font-size: 15px;
    margin-right: 0px;
    margin-top: 1.5rem;
    width: 150px;
    height: 50px;
  }
  .our-creative-team {
    z-index: -1;
    left: 35px;
    bottom: 20px;
  }
  .solution-div .solution-row .solution-col-1 button {
    font-size: 15px;
    margin-right: 0px;
    margin-top: 1.5rem;
    width: 150px;
    height: 50px;
  }
  .choose-img {
    width: 100%; // 200px;
    height: 150px;
  }
  .box {
    padding-right: 40px;
  }
  .need-hero-img {
    margin-left: 0;
    width: auto;
    height: auto;
  }
  .need-heading {
    font-size: 25px;
  }
  .need-caption {
    font-size: 15px;
  }
  .internet-img {
    max-width: 100% !important;
    height: auto;
  }
  .expert-heading {
    font-weight: 500;
    font-size: 45px;
  }
  .expert-caption {
    color: #828282;
    font-size: 16px;
  }

  .clients-heading {
    font-weight: 500;
    font-size: 45px;
  }
  .clients-caption {
    color: #828282;
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .stat-box {
    h2 {
      font-size: 2rem !important;
    }
  }
}
@media (min-width: 1200px) {
  .our-creative-team {
    z-index: -1;
    left: 50px;
    bottom: 30px;
  }
  .speed-heading {
    font-size: 35px;
  }
  .speed-caption {
    font-size: 17px;
  }
  .plans-heading {
    font-size: 35px;
  }
  .plans-caption {
    font-size: 17px;
  }
}
@media (min-width: 1400px) {
  .subscribe-caption {
    margin-bottom: 20px !important;
  }
  nav {
    margin-bottom: 90px;
  }
  body {
    background-image: url("../assets/images/base-bg.png");
    background-position: 60px 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .our-creative-team {
    z-index: -1;
    bottom: 35px;
  }
  .hero-cards {
    width: auto;
    height: 210px !important;
    .card-body {
      .hero-card-body {
        font-size: 15px !important;
        color: #727272 !important;
      }
      div {
        .hero-card-heading {
          font-size: 25px !important;
          font-weight: normal;
        }
      }
    }
  }
  .optimise-container {
    margin-bottom: 233px;
    margin-top: 120px !important;
    .container-inside {
      margin-bottom: 200px;
      div {
        .card {
          .card-body {
            div {
              img {
                width: 85px;
                height: 92px;
                margin-bottom: 91px;
              }
            }
          }
        }
      }
    }
    .heading {
      font-weight: 500;
      font-size: 40px;
    }
  }
  .solution-div .solution-row .solution-col-1 .solution-heading-text {
    font-size: 40px !important;
  }
  .choose-img {
    width: 100%; //300px;
    height: 207px;
  }
  .box {
    .box-heading {
      font-size: 20px;
    }
    .box-caption {
      font-size: 17px;
    }
  }
  .need-heading {
    font-size: 45px;
  }
  .need-caption {
    font-size: 16px;
  }
  .subscribe-input {
    width: 25%;
  }
}

@media (min-width: 1920px) {
  .subscribe-input1,
  .subscribe-input2 {
    width: 416px !important;
    margin-right: 30px;
  }

  .our-creative-team {
    z-index: -1;
    left: 80px !important;
    bottom: 50px !important;
  }
  .hero-cards {
    width: 513px;
    height: 334px !important;
  }
  nav {
    margin-top: 40px;
    margin-bottom: 114px;
  }
  .container {
    width: 1650px !important;
    max-width: 1650px !important;
  }
  .girl-img {
    width: 630px !important;
    height: 706px !important;
  }
  .hero-section-h1 {
    font-size: 90px;
    span {
      .expert-icon {
        margin-left: 0px !important;
        width: 198.33px !important;
        height: 79.33px !important;
      }
    }
  }

  .hero-body {
    font-size: 20px !important;
  }
  .hero-cards {
    height: 250px;
  }
  .hero-btn {
    width: 218px !important;
    height: 76px !important;
    padding: auto !important;
    font-size: 24px !important;
  }
  .take-a-tour-img {
    width: 178px !important;
    height: 69px !important;
  }
  .hero-cards {
    width: 513px;
    height: 334px !important;

    .hero-cards-img {
      width: 129px;
      height: 129px;
    }
    .card-body {
      .hero-card-body {
        font-size: 17px !important;
      }
      div {
        .hero-card-heading {
          font-size: 38px !important;
        }
      }
    }
  }
  .optimise-container {
    p:nth-of-type(1) {
      font-size: 55px;
    }
    p:nth-of-type(2) {
      font-size: 20px;
    }
    .container-inside {
      .optimise-row {
        .optimise-card-1,
        .optimise-card-2,
        .optimise-card-3,
        .optimise-card-4 {
          background-position: 180px 120px;
          width: 400px;
          height: 472px;
          .card-body {
            div {
              img {
                margin-top: 56px;
              }
              .card-title {
                font-size: 24px;
              }
            }
            .optimise-text {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
  .solution-div {
    padding-bottom: 98px !important;
    padding-top: 98px !important;
    margin-top: 233px;
    padding-left: 150px;
    padding-right: 150px;
    .solution-row {
      gap: 45px;
      .solution-col-1 {
        .solution-heading-text {
          font-size: 55px !important;
        }
        .solution-heading-caption {
          font-size: 17px !important;
        }
        button {
          width: 214px;
          height: 76px;
          padding: auto;
          font-size: 24px;
        }
      }
      .col-lg-5 {
        img {
          width: 607px !important;
          height: 343px;
        }
      }
    }
  }
  .business-container {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 100px !important;
    margin-bottom: 84px !important;
    .business-row {
      div {
        div {
          img {
            height: 71px !important;
            width: 71px !important;
            margin-bottom: 22px !important;
          }
          .card-title {
            font-size: 25px !important;
            margin-bottom: 17px !important;
          }
          p {
            font-size: 17px !important;
          }
        }
      }
    }
  }
  .secondary-cards {
    width: 370px;
    height: 289px;
    padding-left: 30px;
  }
  .choose-column {
    width: 365px;
    height: 548px;
  }
  .choose-container {
    padding-top: 79px !important;
    padding-bottom: 89px !important;
    h2 {
      font-size: 55px !important;
    }
    p {
      font-size: 17px !important;
      margin-bottom: 56px !important;
    }
    .card-group {
      div {
        div {
          .choose-card {
            padding-bottom: 0px !important;

            img {
              width: 300px !important;
              height: 200px !important;
            }
            button {
              padding: auto !important;
              width: 123px !important;
              height: 43px !important;
              margin-top: 0px !important;
              margin-bottom: 58px !important;
            }
            .card-body {
              .optimization-card-heading {
                font-size: 20px !important;
                margin-bottom: 23px !important;
              }
              .optimization-card-body {
                font-size: 17px !important;
                margin-bottom: 25px !important;
              }
            }
          }
        }
      }
    }
  }
  .need-container {
    padding-top: 114px !important;
    padding-bottom: 97px !important;
    div {
      div:nth-of-type(1) {
        img {
          width: 771px !important;
          height: 482px !important;
        }
      }
      div:nth-of-type(2) {
        .need-heading {
          font-size: 55px !important;
        }
        .need-caption {
          font-size: 17px !important;
        }
        .need-cards {
          .box {
            .box-heading {
              font-size: 23px !important;
            }
            .box-caption {
              font-size: 17px !important;
            }
          }
        }
      }
    }
  }
  .need-icon {
    min-width: 101px !important;
    min-height: 101px !important;
  }
  .stats-section {
    padding-top: 0px !important;
    .container {
      div div div div {
        h2 {
          font-size: 73px !important;
        }
        p {
          font-size: 17px !important;
        }
      }
    }
  }
  .speed-heading {
    font-size: 55px !important;
  }
  .speed-caption {
    font-size: 17px !important;
  }
  .speed-input {
    width: 288px !important;
    height: 53px !important;
  }
  .speed-btn {
    margin: 0px !important;
    padding: auto !important;
    width: 114px !important;
    font-size: 16px !important;
  }
  .plans-heading {
    font-size: 55px !important;
  }
  .plans-caption {
    font-size: 17px !important;
    margin-bottom: 57px !important;
  }
  .my-card {
    width: 372px !important;
    height: 523px !important;
    padding-top: 65px !important;
    padding-bottom: 79px !important;
    .card-body {
      padding: 0px !important;
      .plans-title {
        font-size: 22px !important;
        margin-bottom: 34px !important;
      }
      .card-text {
        .money-txt {
          font-size: 49px !important;
        }
      }
    }
  }

  .my-btn {
    width: 114px !important;
    height: 36px !important;
    margin-top: 42px !important;
    margin-bottom: 0px !important;
  }
  .expert-heading {
    font-size: 55px !important;
  }
  .expert-caption {
    font-size: 17px !important;
  }
  .team-cards {
    width: 269px !important;
    height: 339px !important;
    padding-top: 53px !important;
    padding-bottom: 44px !important;
  }
  .employee-name {
    font-size: 22px !important;
  }
  .client-container {
    min-width: 100%;
  }
  .clients-heading {
    font-size: 55px !important;
  }
  .clients-caption {
    font-size: 17px !important;
  }
  .subscribe-heading {
    font-size: 50px !important;
  }
  .subscribe-caption {
    font-size: 20px !important;
  }
  .nav-option {
    font-size: 24px !important;
  }

  .nav-search-bar::placeholder {
    font-size: 24px !important;
  }
  .subscribe-btn:hover {
    background-color: #fad725 !important;
  }
}
